.expand-bank-conn-table {
  .expand-detail-wrapper {
      margin: -24px;

      .expand-detail-table.table {
          width: 100%;
          border: none;

          tbody tr {
              border: none;
              background-color: $seventh-grey;
          }
      }
  }

  .cdk-column-did,
  .cdk-column-credentialType {
      width: 23%;
  }

  .cdk-column-bankName {
      width: 20%;
  }

  .cdk-column-status {
      width: 12%;
  }

  .cdk-column-expand {
      width: 22%;
      text-align: right;
  }

}
