.example-container {
    grid-template-columns: 150px auto;
    display: grid;
    gap: 1px;
    height: 100vh;

    .menu {
        background-color: $first-white;
    }

    .content {
        background-color: $third-white;
    }
}

.example {
    .menu {
        width: 100%;
        
        li {
            padding: 10px 0;
        }

        li:first-child {
            margin-top: 24px;
        }
    
        li a {
            font-size: 20px;
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            color: #2196F3;
            display: block;
        }
    
        a:hover {
            color: #064579;
        }
    }

    .content {
        padding: 24px;
    }     
}

.demo {
    margin: 10px 0;
    padding: 10px;
    display: inline-block;
    position: relative;
    border: solid #dee2e6;
    background-color: $pure-white;
    width: 700px;
    max-height: 350px;
    overflow: auto;
    border-width: 1px;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.demo.clear {
    background-color: $third-white;
}