.kyc-top-section {
  align-items: flex-start!important;

  .kyc-case-right {
    flex-wrap: wrap;

    .kyc-filter-container {
      width: toRem(225);
    }
  }
}

.kyc-container {

  .kyc-status-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -0.75rem 0 -1.5rem;
  }

  .status-table {
    thead tr {
      border-bottom: 1px solid #D3D3D3;
    }

    .cdk-column-number {
      width: toRem(32);
    }

    .cdk-column-receivedDate, .cdk-column-actionDate, .cdk-column-status {
      width: toRem(136);
      min-width: toRem(136);
    }

  }

}

.kyc-landing-table {

  .cdk-column-asNum {
    width: toRem(115);
    min-width: toRem(115);
  }

  .cdk-column-status {
    width: toRem(125);
    min-width: toRem(125);
  }

  .app-flex-center-vert {
    display: flex;
    align-items: center;
  }

}

.status-dialog-table {
  .cdk-column-kycCaseStatus {
    width: 6%;
  }

  .cdk-column-docStatus {
    width: 6%;
  }
}





