.org-container {
    background-color: $third-white;
    min-height: calc(100vh - 56px);
    padding: 30px 60px 100px 60px;

    .landing-title {
      margin-top: toRem(3) !important;
    }

    .org-top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .center {
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .right{
        display: flex;
        align-items: flex-end;
    }

    .org-section {
        position: relative;
    }

    .search-icon{
        position: relative;
        left: -28px;
        top: 4px;
    }

    .link-icon {
        svg path {
            transform: scale(2);
        }
    }

    .large-link {
        font-size: toRem(16);
        > span {
            vertical-align: middle;
        }

        &.disabled {
            color: $first-grey;
            cursor: not-allowed;

            mat-icon {
                cursor: not-allowed;
            }
        }
    }

    .grid {
        display: grid;

        &.two-column {
            grid-template-columns: auto auto;
            gap: toRem(16);
        }
    }

    .table {
        th .mat-sort-header-container .mat-sort-header-arrow {
            display: none;
        }
    }
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn-no-style {
    border: none;
    background: none;
}

.h-16 {
    height: toRem(16);
}

// .h-96 {
//     height: toRem(96);
// }

.w-160 div, .w-160 input {
    width: toRem(216);
}

.hidden {
    display: none;
}

.flex-end{
    justify-content: flex-end;
}