.upload-file-container {
  width: 100%;

  .drop-file-content {
    @include flex-center;
    border: 2px dashed $primary-blue;
    border-radius: toRem(10px);
    height: toRem(133px);
    background-color: $first-white !important;
    &.readonly {
      border: 2px dashed $fourth-grey;
      background-color: $third-white !important;
      .txt-content {
        span {
          color: $fourth-grey
        }
      }
    }
  }

  .uploaded-content {
    .files-list {
      @include flex-center-vert;
      justify-content: space-between;
      margin: 10px auto;
      background: $pure-white;
      border-top: 1px solid $first-grey;
      box-sizing: border-box;
      padding: 5px;
      color: $second-black;
      height: toRem(72px);
    }
  }
  
  .optional {
      text-align: right;
      font-size: toRem(12);
      color:  #999999;
  }

  .flt-rt {
    display: flex;
    float: right
  }

  .file-name-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

}