.input-label {
    margin-left: 1rem;
    display: inline-block;
}

// default size
.form-control {
    @include input-settings;
    @include input-size(280, 40);
    margin: 10px 0;
    
    &.form-error,
    &.ng-touched.ng-invalid {
        border-color: $first-red;
        caret-color: $first-red;
    }

    &.auto {
        width: 100%;
    }

    &.search-input {
      // width: toRem(200);
      @include input-size(200, 40);
    }
}

.form-control-plaintext {
    display: block;
    width: 100%;
    padding-top: .375rem;
    padding-bottom: .375rem;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;

    &:focus,
    &:hover {
        outline: none;
    }
}

.form-control:disabled,
.form-control.disabled,
.form-control[readonly] {
    border-color: $third-white;
    background: $third-white;
    cursor: not-allowed;
    &:hover,
    &:focus{
        border-color: $third-white !important;
    }
}

// just the inner content box of .form-control
.form-input-bare {
    padding: 0;
    border: none;

    @include input-size(280, 28);
    @include typography(14, $first-black, Roboto-Regular);
    &:focus,
    &:hover {
        outline: none;
    }
    &::placeholder{
        color: $second-grey;
    }

    &:disabled, &.disabled, &[readonly] {
        cursor: not-allowed;
        background: $third-white;
    }
}

.datepicker-container.ng-dirty.ng-invalid{
    .datepicker-container.form-control{
        border-color: $first-red;
        caret-color: $first-red;
    }
}

.input-full{
    width: fill-available;
    width: -moz-available;
}

.input-half{
    width: 50% !important;
}

.input-wrap{
    position: relative;
    width: 100%;

    // .helper-text{
    //     @include absolute(bottom -15px);
    // }
}

.helper-text{
    font-size: toRem(12);
    color: #999999;
}

.search-input-wrap {
    position: relative;
    .search-input-icon {
        position: absolute;
        right: 0;
        top: 22px;
    }
}
span.search-input-wrap {
    display: inline-block;
}

.input-icon-container {
    display: flex;
    align-items: center;
}

.input-auto{
    width: auto;
}

.input-xl{
    @include input-size(345, 40);
}
// Remove Chrome Autocomplete input Backaground and set it to white instead of native blue
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px $pure-white inset;
}


// Remove Chrome Autocomplete input Backaground for disabled and readonly and set it to light gray instead of native blue
input:-webkit-autofill:disabled,
input:-webkit-autofill:disabled:hover,
input:-webkit-autofill:disabled:focus,
input:-webkit-autofill:disabled:active,
input:-webkit-autofill[readonly],
input:-webkit-autofill[readonly]:hover,
input:-webkit-autofill[readonly]:focus,
input:-webkit-autofill[readonly]:active{
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: 0 0 0px 1000px $third-white inset;
}