.table {
  th {
    .sort-table-header-cell {
      width: 100%;
      display: flex;
      align-items: center;

      .sort-icon-group {
        display: flex;
        flex-direction: column;
        margin-top: -5px;

        mat-icon {
          height: toRem(8) !important;
        }
      }
    }
  }
}
