.table {
    background-color: $pure-white;
    width: 100%;
    border-radius: 10px;

    * {
        box-sizing: border-box;
    }

    thead tr {
        height: 34px;
        font-size: 16px;
        box-sizing: border-box;
    }

    th, tr, td {
        vertical-align: middle;
    }

    .expand-button {
        text-align: right;
    }

    thead th {
        text-align:  left;
        padding-left: 24px;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        width: 23%;
    }

    tbody tr,
    tbody td {
        height: 72px;
        padding: 24px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
    }

    tbody {
        tr {
            border-bottom: 1px solid $second-grey;
        }

        tr:last-child {
            border-bottom: unset;
        }

        // Expanable rows
        tr.hidden {
            display: none;
        }

        tr:hover {
            background-color: $first-white;
            cursor: pointer;
         }
    }

    .error-text {
      margin-left: 1rem;
      font-size: toRem(12);
      color: $first-red;

      &.no-ml {
          margin-left: 0;
      }
    }
}

.ul-initial {
  list-style: initial;
}

.flex-center {
  @include flex-center-vert;
}

.border-btm-grey {
    border-bottom: 1px solid $second-grey;
}

.table-expand{
    tr.detail-row {
        height: 0;
        td{
            padding: 0;
            height: 0;
        }
      }

      .element-detail {
        overflow: hidden;
        display: flex;
      }

      .element-diagram {
        width: 100%;
        padding: 8px;
        margin: 8px 0;
        min-height: 100px;
      }
      tr.element-row{
        height: 48px;
        border: none;
        td{
            padding: toRem(22) toRem(24);
        }
    }

    .is-expanded{
        .mat-icon{
            transform: rotate(180deg);
        }
    }

}

.sub-table-expand{
    width: 100%;
    margin-left: 20%;

    thead{
        display: none;
    }

    tbody{
        tr{
            border: none;
        }
    }
}

.table.org-expand-table {
  tbody {
    tr:not(.child-row) {
      border-top: 1px solid $second-grey;
      border-bottom: none;
    }

    tr.child-row {
      background-color: $seventh-grey;
      border: none;
    }

    tr:first-child {
      border-top: none;
    }
  }
}

.schema-property-table.table {
  tbody {
    tr:first-child {
      border-top: 1px solid $second-grey;
    }

  }
}

.auto-width{
  thead th {
    width: auto;
  }
}

.cred-table{
  tbody tr, 
  tbody td{
      padding: toRem(9);
  }
}

.auth-table{
  thead th{
    padding-left: toRem(5);
  }
  tbody tr, 
  tbody td{
      padding: toRem(0) toRem(0) toRem(0) toRem(5);
  }
}