.nav-tabs {
    display: flex;
    margin: toRem(10) 0;

    .nav-item {
        padding: toRem(6) 0;
        margin-right: toRem(24);

        a {
            color: $fifth-grey;
            font-weight: 400;
            font-size: toRem(18);
        }

        &.active {
            border-bottom: toRem(2) solid $primary-blue;
            
            a {
                color: $primary-blue;
                font-weight: 700;
            }
        }
    }
}