.textarea {
    display: inline-block;
    width: 100%;
    overflow: scroll;
    border: unset;
}

.key-textarea{
    resize: none;
    height: toRem(200);
    overflow: scroll;
    padding: toRem(11) toRem(16);
}