body{
    font-family: 'Roboto-Regular';
    font-size: toRem(14);
    color: $first-black;
}

h1, h2, h3, h4, h5 {
    margin-top: toRem(24);
    margin-bottom: toRem(24);
}

h1 {
    margin-bottom: toRem(20);
    font-size: toRem(20);
}

h2 {
    margin-bottom: toRem(15);
    font-size: toRem(18);
}

h3 {
    margin-bottom: toRem(10);
    font-size: toRem(16);
}

.txt-bold{
    font-family: 'Roboto-Bold';
}

.txt-medium{
    font-family: 'Roboto-Medium';
}

.txt-regular{
    font-family: 'Roboto-Regular';
}

.txt-italic{
    font-family: 'Roboto-Italic';
}

// a{
//     text-decoration: none;
//     color: $primary-blue;
//     cursor: pointer;

//     &.bold-big{
//         @include hyperlink(bold,16)
//     }
//     &.bold-small{
//         @include hyperlink(bold,14)
//     }

//     &.regular-big{
//         @include hyperlink(regular,16)
//     }
//     &.regular-small{
//         @include hyperlink(regular,14)
//     }
// }

// p {
//     &.secondary-green{ 
//         color: $secondary-green;
//     }

//     &.secondary-green mat-icon  svg {
//         path{
//          fill: $secondary-green !important;
//         }
//     }
// }

// p {
//     &.sixth-grey {
//       color: $sixth-grey;
//     }
//   }
  
// p {
//     &.first-red{
//         color: $first-red;
//     }

//     &.first-red mat-icon  svg {
//         path{
//          fill: $first-red !important;
//         }
//     }
// }

// p {
//     &.secondary-yellow {
//         color: $secondary-yellow;
//     }
// }

// .txt-12{
//     font-size: toRem(12);
// }