.navbar {
    @include fixed(top 0 left 0);
    width: 100%;
    background-color: $third-white;
    z-index: 99;
    border-bottom: toRem(1) solid $second-black;

    // .navbar-fluid {
    //     display: flex;
    //     flex-wrap: inherit;
    //     align-items: center;
    //     justify-content: space-between;
    //     width: 100%;
    // }

    // .navbar-flex {
    //     display: flex;
    //     align-items: center;
    //     padding: 0 20px;
    // }

    // .navbar-brand {
    //     padding-top: .3125rem;
    //     padding-bottom: .3125rem;
    //     margin-right: 1rem;
    //     font-size: 1.25rem;
    //     text-decoration: none;
    //     white-space: nowrap;
    // }

    // .nav-link {
    //     padding-right: .5rem;
    //     padding-left: .5rem;
    //     color: $pure-white;
    // }
    // .nav-item-link{
    //     padding: toRem(21) toRem(16);
    // }
    // .nav-link.active {
    //     font-family: 'Roboto-Bold';
    //     color: $primary-blue;
    //     background-color: $primary-blue-disable;
    // }

    // ul {
    //     display: flex;
    //     flex-direction: row ;

    //     .nav-item {
    //         display: list-item;
    //     }
    // }
}