$xsmall: 300px;
$small: 728px;
$medium: 900px;


@media only screen and (min-width: $xsmall) and (max-width: $small){

    .posts{
        gap: toRem(50) !important;
        .post{
            flex-direction: column !important;
        }
    }
}

@media only screen and (min-width: $xsmall) and (max-width: $medium){
    .home{
        flex-direction: column-reverse !important;
    }
    .posts{
        max-width: 100% !important;
        margin-left: toRem(16) !important;
        margin-right: toRem(16) !important;
    }.categories{
        position: initial !important;
    }
}
