.categories{
    position: fixed;
    top: 50%;
    right: 10%;

    .link{
        
            border: 1px solid $primary-blue-disable;
            display: block;
            padding: toRem(2);
            border-radius: toRem(100);
            background-color: $primary-blue-disable;
        }
    }
