$pure-black: #000;
$first-black: #4A4A49;
$second-black: #191919;
$forth-black: #121619;

$first-grey: #E6E6E6;
$second-grey: #D3D3D3;
$third-grey:rgba(18, 22, 25, 0.5);
$fourth-grey: #D8D8D8;
$fifth-grey: #666666;
$sixth-grey: #C6C6C6;
$seventh-grey: #FAFBFD;

$pure-white: #FFFFFF;
$first-white: #F2F5F9;
$second-white: #EDF5FF;
$third-white: #F9F9F9;

$primary-blue: #205FFF;
$primary-blue-disable: #C8D7FA;

$first-blue: #3D70B2;
$second-blue: #0d6efd;
$third-blue: #3371BB;
$fourth-blue: #337DC3;
$fifth-blue: #3472BC;
$login-bkg: linear-gradient(82.69deg, #205FFF 0%, #205FFF 50%, #39E2E9 110.25%);

$first-red: #D91F28;

$secondary-teal: #39E2E9;
$secondary-yellow: #F2C31C;
$secondary-green: #2AA454;
$secondary-faded-pink: #FFDDDE;
$secondary-faded-yellow: #FFEFB8;
$secondary-faded-green:#DEFBE6;
